* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans";

  color: #333;
}

a, a:hover {
  text-decoration: none;
  color: #333;
}

.container-fluid{
  padding: 0;
}

.separateur {
  height: 3px;
  width: 15%;
  border: none;
  box-shadow: none;
  background-color: #3498DB;
  
}
/*header */
.header {
  background-color: #6495ED;
  height: 70px;
  line-height: 70px; /* centrer élement manière verticale */
}

.menu {
  float: right;
}

.menu a {
  color:#fff;
  margin-right: 20px;
  font-family: 'Raleway', sans-serif;
}

.menu a:hover {
color:#2C3E50;
}
/*banniière */
.banner {
width: 100%;
max-width: 100%;
}

.ban {
width: 100%;
max-width: 100%;
position: relative;
}

.ban img {
  height: 570px;
  width: 100%;
  max-width: 100%;
}

.inner-banner {
  position: absolute;
  width: 100%;
  text-align: center;
  top:50%;
}

.inner-banner h1 {
  color: white;
  text-shadow: 1px 1px 20px black;
}

.section {
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.section h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
}

.top-border{
  position: absolute;
  height: 2px;
  width: 24%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
.top-border {
  width: 18%;
	}
}

.section p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}

.section a {
  outline: 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  width: 440px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.section a:hover {
  background-color: #1D222D;
}

.section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 500px) {
  .top-border {
    display: none;
  }
  .section {
  border-top: 2px solid #333;
  }
  .section h1 {
    margin: 20px 6px;
  }
}
