*{box-sizing: border-box;}
img {
  max-width: 100%;
  height: 230px;
}

.post{
  color: black;
  margin-top: 25%;
}


.post_thumb {
  margin-top: 55.5%;
  margin-right: 10%;
  }

.post_thumb img {
  width: auto;
}

.post_text p {
  padding-top: 15px;
  float: left;
  padding-left: 2%;

}

p {
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (min-width:640px) {

  .post_thumb {
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 315px;
  }

  .info {
    margin-right: 335px;
  }

}
