figure {
  display: inline-block;
  position: relative;
  left: 0;
  -moz-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  transform:rotate(-5deg);
  margin-left: 75%;
}

.post_thumb img {
  border-color: white /* for an acceptable IE result*/;
  border-width: 15px;
  -moz-border-image: url(http://tobias-reinhardt.de/img/frame.png) 15 stretch;
  border-image: url(http://tobias-reinhardt.de/img/frame.png) 15 stretch;
  border-style: solid;
  margin: auto;
}


}

@media (max-width:640px) {
figure {
  display: inline-block;
  position: relative;
  left: 0;
  -moz-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  transform:rotate(-5deg);
  margin-left: -175%;
}
}
